body {
  align-content: center;
  background-image: url("http://designerwallcoverings.com/WallpaperStore/images/wab1008eh61008.jpg");
}

h1 {
  text-align: left;
  font-family: 'Syncopate', sans-serif;
  background-color: white;
  margin-left: 200px;
}

#movie-poster{
  align-content: center;
}

img {
  border: 5px solid #2F4F4F;
  padding: 20px;
  margin-right: 100px;
  margin-top: 10px;
  float: right;
}
